/* imported font from google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: auto;
}
/* whole document set up in a grid */
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: 300px;
  gap: 15px;
  grid-template-areas:
    "header header header"
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer";
}
/* header-section styling starts here  */
header {
  grid-area: header;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
    url(/Assets/aquarium.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
/* navigation bar inside header-section */
.navbar {
  height: 10vh;
  width: 90%;
  margin: auto;
  padding: 0 10px;
  text-align: center;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar ul li {
  display: inline-block;
  margin: 20px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul li a:hover {
  border-radius: 50%;
  box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #0484b4;
}
/* line under the navigation elements that appears on hover*/
.navbar ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  display: block;
  margin: auto;
  transition: 500ms ease;
}
.navbar ul li:hover::after {
  width: 100%;
}
/* site name in the middle of header section */
.site-name {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.site-name h1 {
  font-size: 3rem;
}
.site-name h3 {
  margin: 10px 0 40px;
  font-size: 1.8rem;
}
/* "Buy Tickets Now" button after site-name that links to the tickets.html page */
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 1rem;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.btn:hover {
  background: #0484b4;
  transition: 0.6s;
  box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #0484b4;
}
/* moving light effect on the whole header section */
/* got this animation inspiration from a youtube vedio */
.neonlight {
  width: 100%;
  background: transparent;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #0484b4, 0 0 160px 20px #08f;
  animation: move 10s linear infinite;
}
@keyframes move {
  0% {
    top: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 1;
  }
}
/* header-section styling ends here */
/* main-section styling starts here */
.grid-container > main {
  grid-area: main;
}
.intro-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-auto-rows: 400px;
  gap: 20px;
  grid-template-areas:
    "sealTrick1 introText "
    "sealShowText sealTrick2";
}
/* Sea Lion trick1 animation  division */
.seal-trick1 {
  grid-area: sealTrick1;
  position: relative;
}
.seal-image1 {
  position: absolute;
  height: 90%;
  width: 90%;
  animation: sealtrick 10s linear infinite;
}
@keyframes sealtrick {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/* "Opening soon in Sandefjord" division */
.intro-text {
  grid-area: introText;
  padding: 25px;
}

/* "Sea Lion Show" text division */
.seal-show {
  grid-area: sealShowText;
  padding: 25px;
}
/* button inside Sea lion show text division */
.more-btn {
  color: #0484b4;
  border: 1px solid #a8b9be;
}
.more-btn:hover {
  background: transparent;
  box-shadow: inset 0 0 20px #0484b4;
}
/* Sea lion show/Trick 2 animation division */
.seal-trick2 {
  grid-area: sealTrick2;
  position: relative;
}
.seal-image2 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ball-image {
  height: 30%;
  width: 30%;
  position: absolute;
  top: 36%;
  left: 65%;
  animation: ball 8s infinite;
}
/* ball rotating animation */
@keyframes ball {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
/* intro-container grid ends here */
/* Meet our animals heading */
main > h2 {
  margin: 100px;
  text-align: center;
}
/* "image-gallery" grid styling starts here */
.image-gallery {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: 350px;
  gap: 15px;
  grid-template-areas:
    "image1 image2 image3"
    "image4 image2 image3"
    "image4 image5 image7"
    "image6 image6 image8 ";
}
.image-gallery > .image1 {
  grid-area: image1;
}
.image-gallery > .image2 {
  grid-area: image2;
}
.image-gallery > .image3 {
  grid-area: image3;
}
.image-gallery > .image4 {
  grid-area: image4;
}
.image-gallery > .image5 {
  grid-area: image5;
}
.image-gallery > .image6 {
  grid-area: image6;
}
.image-gallery > .image7 {
  grid-area: image7;
}
.image-gallery > .image8 {
  grid-area: image8;
}
/* styling of all images inside image-gallery */
.image-gallery > div {
  opacity: 94%;
  transition: transform 1s ease;
  border-radius: 30px;
  overflow: hidden;
}
/* hover effect on each image in image-gallery */
.image-gallery > div:hover {
  border-radius: 0;
  opacity: 100%;
  transform: scale(1.1);
  box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #0484b4, 0 0 160px 20px #08f;
}
img {
  height: 100%;
  width: 100%;
}
/* footer styling starts here */
footer {
  grid-area: footer;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(/Assets/sharks.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
  grid-template-areas: "info about links";
}
.info {
  grid-area: info;
}
.about {
  grid-area: about;
}
.links {
  grid-area: links;
}
footer div {
  padding-top: 15px;
  padding-left: 30px;
}
footer div h4 {
  text-transform: capitalize;
  position: relative;
  width: max-content;
  line-height: 1.5px;
}
footer div h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fff;
  height: 3px;
  width: 100%;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.8em;
  color: white;
  display: block;
  transition: all 300ms ease;
  opacity: 90%;
  width: max-content;
  border-radius: 50%;
}
footer ul li a:hover {
  color: white;
  padding-left: 2px;
  opacity: 100%;
  box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #0484b4;
}
/* social media links styling */
.social-links a i {
  display: inline-block;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  opacity: 90%;
  transition: all 500ms ease;
}
.social-links a :hover {
  opacity: 100%;
  box-shadow: 0 0 40px 5px #fff, inset 0 0 20px #0484b4;
}
/* Media Queries start here */
/* small style changes for Tablets or medium sized devices  between 601px to 992px*/

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 2fr 2fr;
    grid-auto-rows: 350px;
    grid-template-areas:
      "header header"
      "header header"
      "main main"
      "main main"
      "main main"
      "main main"
      "main main"
      "main main"
      "main main"
      "footer footer";
  }
  .intro-container {
    width: 95%;
    margin: auto;
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "sealTrick1  introText"
      "sealShowText sealTrick2";
  }
  .image-gallery {
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
      "image1 image2"
      "image3 image4"
      "image5 image6"
      "image7 image8";
  }
  .site-name h1 {
    font-size: 2rem;
  }
  .site-name h3 {
    font-size: 1.2rem;
  }
}
/* small changes for mobile devices under 600px */
@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 2fr;
    grid-template-areas:
      "header"
      "header"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "main"
      "footer";
  }
  .intro-container {
    grid-template-columns: 2fr;
    gap: 10px;
    grid-template-areas:
      "introText"
      "sealTrick1"
      "sealShowText"
      "sealTrick2";
  }

  .site-name h1 {
    font-size: 1.6rem;
  }
  .site-name h3 {
    font-size: 1rem;
  }
  .image-gallery {
    grid-template-columns: 2fr;
    grid-template-areas:
      "image1"
      "image2"
      "image3"
      "image4"
      "image5"
      "image6"
      "image7"
      "image8";
  }
}
